<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="chatBox">
		<select name="rooms" id="rooms">
			<option value="roomOne">Room 1</option>
			<option value="roomTwo">Room 2</option>
			<option value="roomTwo">Room 3</option>
		</select>
		<input type="text" class="nickname" placeholder="What is your nickname?">
		<ul id="messages"></ul>
		<form>
			<input class="message" type="text" id="m" autocomplete="off" placeholder="Type here...">
			<button>send</button>
		</form>
	</div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
