<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
</head>
<body>
  <h1>This is the app</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut felis at purus rutrum elementum id nec augue. Pellentesque eget sollicitudin magna. Curabitur sed est in sapien dictum convallis. Fusce dui neque, consectetur at vehicula sit amet, fermentum a risus. Ut at augue eget sapien blandit mattis ut nec lacus. Mauris sollicitudin sapien sed lacus tempus scelerisque. Etiam sodales et lorem nec tincidunt. In tristique tempor aliquam. Aenean in ante ac lectus viverra mollis. Proin sit amet tristique libero. Praesent ac luctus ligula. Nam sollicitudin, libero a placerat gravida, sem nibh viverra sapien, ut faucibus ligula lacus a sem. Morbi in sodales eros, vitae molestie tortor.
    </p>
</body>
</html>
